body {
  background-color: #10111b;
  color: #dfdfdf;
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 0 auto;
}

header {
  color: #b4b4b4;
  text-align: center;
  margin-bottom: 5px;
}

h1 {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: not;
  font-weight: 300;
  font-size: 100px;
  margin: 0;
  margin-top: 0.1em;
}

footer {
  font-size: 2em;
  color: #b4b4b4;
  text-align: center;
  margin-bottom: 0px;
}

img {
  align-self: center;
}

section {
  border-radius: 10px;
  border: 1px solid #9ddfd9;
  padding: 5px;
  margin: 10px;
}

main section {
  border-radius: 10px;
  border: 1px solid #9ddfd9;
  padding: 5px;
  margin: 10px;
}

nav {
  border-radius: 10px;
  border: 1px solid #9ddfd9;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;

  font-family: Arial, sans-serif;
  font-size: medium;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px;
}

a:link {
  color: #8bffdc;
  text-decoration: none;
}

a:visited {
  color: #8bffdc;
  text-decoration: none;

}

#container {
  display: flex;
}

#right {
  height: 100%;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#summary {
  font-size: small;
}