<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Register Page">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
	<title>Register</title>
</head>
<body>
	<header>
		<h1>Register</h1>
		<nav>
			<a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
		</nav>
	</header>

	<main>
		<div id="container">
			<section style="width: 600px;">
				<h1>Home</h1>
			</section>
		</div>
	</main>

	<footer>
		<p>Impressum</p>
	</footer>
</body>
</html>
