<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Register">
	<meta name="keywords" content"html, fiae, css, lernen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
	<title>Videos</title>
</head>

<body>
	<header>
		<h1>Videos</h1>
		<nav>
			<a href="{{ url_for('home') }}">Home</a>
			<span> • </span>
			<a href="{{ url_for('register') }}">Register</a>
			<span> • </span>
			<a href="{{ url_for('videos') }}">Videos</a>
		</nav>
	</header>

	<main>	
		<div id="container">
			<section style="width: 50%;">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/wzSTWbv7XlY?si=sxZSbRc955xYrjRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</section>
			
			<section style="width: 50%;">
				<p>Title: The Difference Between "C" Languages in 90 seconds. The video explains the differences between the programming languages C, C++, and C# in a concise manner. C, created by Dennis Ritchie in 1972, is a low-level language widely used in operating systems and hardware drivers, known for its efficiency and minimal runtime support. C++, developed by Bjarne Stroustrup in 1985, extends C by adding object-oriented programming capabilities while maintaining speed and efficiency, making it popular in operating system development and high-profile software. C#, developed by Microsoft in 2002, is a high-level, object-oriented language based on the .NET Framework, offering features like garbage collection and type checking, and is commonly used in enterprise applications. The video concludes by suggesting C for low-level applications with hardware control, C++ for low-level applications with more control, and C# for high-level applications.</p>
			</section>
		</div>
		<div id="container">
			<section style="width: 50%;">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/8GhFmQPZAlo?si=0OgOCVm4eirKU4fL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</section>
			
			<section style="width: 50%;">
				<p>Title: Am I going to jail for web scraping? The video explores the legal and ethical implications of web scraping, a practice that extracts data from websites. It discusses recent court cases, such as Booking.com vs. Ryanair, where Booking.com was found to have violated the Computer Fraud and Abuse Act by scraping Ryanair's website and reselling tickets without authorization. The video highlights that while web scraping publicly available data may not always be illegal, it can lead to lawsuits if website owners object. It also mentions cases like hiQ Labs vs. LinkedIn, where scraping public data was deemed acceptable, and the recent dismissal of a lawsuit against GitHub's Co-pilot for using open-source code to train its AI tool. Ultimately, the video concludes that while the risk of jail for web scraping is low, legal consequences such as lawsuits from corporations remain a significant concern.</p>
			</section>
    </div>
		<div id="container">
			<section style="width: 50%;">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/o1L1EYiobi4?si=6TZazpyBmZow5vuj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</section>
			
			<section style="width: 50%;">
				<p>The video discusses how the creator would approach learning to code if they were starting over, aiming to help viewers avoid common pitfalls and save time. The creator emphasizes the importance of setting a clear goal, such as becoming a web developer or game developer, to guide the learning process. They recommend starting with a popular and beginner-friendly programming language like Python or JavaScript, depending on one's goal. The video also highlights the importance of learning version control with Git and GitHub early on, as well as the value of reading documentation and building projects as soon as possible. The creator shares various resources and strategies to stay informed about programming trends and technologies, including the use of platforms like daily.dev and roadmap.sh.</p>
			</section>
    </div>

		<section>
			<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <code>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</code></p>
		</section>
	</main>

	<footer>
		<p>Impressum</p>
	</footer>
</body>
</html>
